.active {
  background-color: greenyellow;
}

.inactive {
  background-color: red;
}

.gallery-wrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
  
    // Opcjonalnie responsywność
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, auto); // 2 kolumny
    gap: 10px 20px;
  }
  
  .image {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
  
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
      display: block;
      margin: 0 auto 5px;
    }
  
    p {
      font-size: 12px;
      margin: 2px 0;
    }
  }
  
  .right {
    min-width: 250px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  